@font-face {
  font-display: swap;
  font-family: "gilroy-light", sans-serif;
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-display: swap;
  font-family: "../fonts/gilroy-heavy", sans-serif;
  src: url("../fonts/Gilroy-Heavy.eot");
  src: url("../fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("Gilroy-Heavy.woff2") format("woff2"), url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-display: swap;
  font-family: "gilroy-medium", sans-serif;
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-display: swap;
  font-family: "gilroy-regular", sans-serif;
  src: url("Gilroy-Regular.eot");
  src: url("Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("Gilroy-Regular.woff") format("woff"), url("Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-display: swap;
  font-family: "gilroy-bold", sans-serif;
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
* {
  font-display: swap;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container {
  max-width: 90vw; }

p,
a {
  font-family: "gilroy-medium", sans-serif;
  font-size: 18px; }

h1 {
  font-family: "gilroy-bold", sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff; }
  h1 b,
  h1 strong {
    color: #01d616;
    font-weight: normal; }

h2 {
  font-family: "gilroy-bold", sans-serif;
  font-size: 38px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 24px;
  padding: 0px; }
  h2 strong,
  h2 b {
    color: #01d616;
    font-weight: normal; }

h3 {
  font-family: "gilroy-bold", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 16px;
  padding: 0px; }
  h3 strong,
  h3 b {
    color: #01d616;
    font-weight: normal; }

p {
  font-family: "gilroy-medium", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #5c5c5c;
  margin-bottom: 24px; }

.btn {
  background: #01d616;
  box-shadow: 0px 0px 20px rgba(1, 214, 22, 0.2);
  border-radius: 99px;
  font-family: "gilroy-medium", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  color: #ffffff;
  padding: 8px 24px;
  transition: ease-in-out 0.2s; }
  .btn svg {
    margin-left: 8px;
    transition: ease-in-out 0.2s; }
  .btn:hover {
    background: #01bd13;
    color: #ffffff; }
    .btn:hover svg {
      margin-left: 12px; }

section {
  padding: 48px 0px; }

nav {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0); }
  nav .container .row {
    height: 140px; }
    nav .container .row .desk-nav ul {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-right: -16px; }
      nav .container .row .desk-nav ul li {
        margin: 0px 16px; }
        nav .container .row .desk-nav ul li a {
          color: #2d2d46; }
        nav .container .row .desk-nav ul li:hover > a {
          color: #01d616;
          text-decoration: none;
          transition: ease-in-out 0.2s; }
      nav .container .row .desk-nav ul .menu-item-has-children {
        position: relative;
        white-space: nowrap;
        padding-right: 20px; }
        nav .container .row .desk-nav ul .menu-item-has-children:after {
          content: "";
          width: 7px;
          height: 2px;
          background: #2d2d46;
          position: absolute;
          right: 4px;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
          border-radius: 2px;
          transition: ease-in-out 0.2s; }
        nav .container .row .desk-nav ul .menu-item-has-children:before {
          content: "";
          width: 7px;
          height: 2px;
          background: #2d2d46;
          position: absolute;
          right: 0px;
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
          border-radius: 2px;
          transition: ease-in-out 0.2s; }
        nav .container .row .desk-nav ul .menu-item-has-children:hover:before {
          background: #01d616;
          transform: translateY(-50%) rotate(45deg); }
        nav .container .row .desk-nav ul .menu-item-has-children:hover:after {
          background: #01d616;
          transform: translateY(-50%) rotate(-45deg); }
        nav .container .row .desk-nav ul .menu-item-has-children .sub-menu {
          position: absolute;
          display: block;
          left: -16px;
          top: 45px;
          pointer-events: none;
          opacity: 0;
          margin-top: 15px;
          padding: 15px;
          margin: 0;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          border-radius: 8px;
          transition: ease-in-out 0.2s;
          background: #ffffff; }
          nav .container .row .desk-nav ul .menu-item-has-children .sub-menu:before {
            content: "";
            width: 100%;
            position: absolute;
            top: -10px;
            height: 10px;
            left: 0px; }
          nav .container .row .desk-nav ul .menu-item-has-children .sub-menu li {
            width: 100%;
            display: block;
            float: none;
            margin: 0;
            padding: 4px 8px; }
        nav .container .row .desk-nav ul .menu-item-has-children:hover .sub-menu {
          top: 35px;
          pointer-events: all;
          opacity: 1; }
    nav .container .row .desk-nav a.nav-btn {
      color: #ffffff;
      background: #01d616;
      padding: 8px 24px;
      box-shadow: 0px 0px 20px rgba(1, 214, 22, 0.4);
      border-radius: 99px;
      display: flex;
      white-space: nowrap;
      line-height: 34px;
      align-items: center;
      transition: ease-in-out 0.2s; }
      nav .container .row .desk-nav a.nav-btn:before {
        content: "";
        width: 24px;
        height: 24px;
        background-image: url(../img/upload.svg);
        display: inline-block;
        margin-right: 8px; }
      nav .container .row .desk-nav a.nav-btn:hover {
        color: #ffffff;
        background: #01bd13; }

nav .container .row--change {
  height: 100px; }

.changed {
  background: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }

.space {
  width: 100%;
  min-height: 140px; }

.hp-header {
  padding: 0px; }
  .hp-header .hp-header-int {
    min-height: 420px;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    background-size: cover; }
    .hp-header .hp-header-int:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0px;
      background: linear-gradient(265.69deg, rgba(0, 0, 0, 0) 2.27%, rgba(0, 0, 0, 0.77) 108.72%); }
    .hp-header .hp-header-int .inner {
      display: flex;
      width: 100%;
      position: relative;
      z-index: 1;
      align-items: flex-end; }
      .hp-header .hp-header-int .inner h1 {
        font-family: "gilroy-bold", sans-serif;
        font-size: 36px;
        line-height: 42px;
        color: #ffffff; }
        .hp-header .hp-header-int .inner h1 b,
        .hp-header .hp-header-int .inner h1 strong {
          color: #01d616;
          font-weight: normal; }
      .hp-header .hp-header-int .inner span {
        font-family: "gilroy-bold", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        text-align: right;
        color: #ffffff;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); }
  .hp-header .hp-usps {
    position: relative;
    z-index: -1; }
    .hp-header .hp-usps ul {
      margin: 0;
      padding: 24px 0px;
      display: flex;
      margin-left: -52px;
      margin-right: -52px; }
      .hp-header .hp-usps ul li {
        font-family: "gilroy-medium", sans-serif;
        font-size: 18px;
        line-height: 22px;
        list-style: none;
        margin: 0px 52px;
        display: flex;
        align-items: center; }
        .hp-header .hp-usps ul li svg {
          margin-right: 16px; }
    .hp-header .hp-usps:after {
      content: "";
      height: 314px;
      width: 100vw;
      background: #20afff;
      opacity: 0.1;
      position: absolute;
      bottom: 0; }

.hp-lawyers .lawyers {
  margin-left: -22px;
  margin-right: -22px;
  position: relative;
  z-index: 2; }
  .hp-lawyers .lawyers .lawyer {
    height: 300px;
    padding: 16px;
    margin: 22px;
    border-radius: 8px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.2s; }
    .hp-lawyers .lawyers .lawyer:before {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: linear-gradient(54.67deg, #000000 -2.23%, rgba(0, 0, 0, 0) 53.09%); }
    .hp-lawyers .lawyers .lawyer:hover {
      text-decoration: none;
      transform: scale(1.02); }
    .hp-lawyers .lawyers .lawyer span {
      font-family: "gilroy-bold", sans-serif;
      font-size: 22px;
      line-height: 27px;
      color: #01d616;
      z-index: 1;
      position: relative;
      font-weight: normal; }
      .hp-lawyers .lawyers .lawyer span strong,
      .hp-lawyers .lawyers .lawyer span b {
        width: 100%;
        display: block;
        color: #ffffff;
        font-weight: normal; }
.hp-lawyers .lawyer-int {
  position: relative;
  z-index: 1;
  padding: 0px 0 32px 0px; }
  .hp-lawyers .lawyer-int:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 30px;
    height: calc(100% + 166px);
    width: 100vw;
    background: #20afff;
    opacity: 0.1;
    border-radius: 8px;
    z-index: -1; }
.hp-lawyers .lawyer-dots ul {
  display: flex;
  margin-left: -4px;
  margin-right: -4px;
  padding: 0; }
  .hp-lawyers .lawyer-dots ul li {
    list-style: none;
    margin: 0px 4px; }
    .hp-lawyers .lawyer-dots ul li button {
      border: none;
      width: 13px;
      height: 13px;
      text-indent: -9999px;
      border-radius: 99px;
      transition: ease-in-out 0.2s;
      outline: none;
      cursor: pointer; }
      .hp-lawyers .lawyer-dots ul li button:hover {
        background: #01bd13; }
  .hp-lawyers .lawyer-dots ul .slick-active button {
    width: 24px;
    background: #01d616; }

.reviews .reviews-s {
  margin-left: -14px;
  margin-right: -14px;
  margin-top: -5px;
  padding: 30px 0px; }
  .reviews .reviews-s .review {
    padding-right: 14px;
    padding-left: 14px;
    padding-top: 5px;
    opacity: 0;
    margin-top: 10px;
    transition: ease-in-out 0.6s; }
    .reviews .reviews-s .review .avatar {
      width: 58px;
      height: 58px;
      border-radius: 58px;
      background-size: cover;
      margin-right: 18px;
      transition: ease-in-out 0.2s; }
    .reviews .reviews-s .review .no-pic {
      background: #a9d6f0; }
      .reviews .reviews-s .review .no-pic svg {
        width: 33px; }
        .reviews .reviews-s .review .no-pic svg path {
          stroke: #ffffff; }
    .reviews .reviews-s .review .information .company {
      display: block;
      width: 100%;
      color: #7c7c7c; }
    .reviews .reviews-s .review .information .name {
      color: #000000;
      display: block;
      width: 100%;
      font-family: "gilroy-bold", sans-serif; }
      .reviews .reviews-s .review .information .name strong {
        color: #01d616; }
    .reviews .reviews-s .review:hover {
      transition: ease-in-out 0.2s !important;
      text-decoration: none;
      transform: scale(1.02); }
  .reviews .reviews-s .slick-current,
  .reviews .reviews-s .slick-active {
    opacity: 1;
    margin-top: 0px; }

footer {
  border-top: 1px solid #e9f7ff;
  padding: 68px 0px 0px 0px; }
  footer .widget .widget-title {
    font-family: "gilroy-bold", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: #01d616; }
  footer .widget a {
    font-family: "gilroy-medium", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    transition: ease-in-out 0.2s;
    color: #5c5c5c;
    margin: 0;
    padding: 4px 0px;
    display: block; }
    footer .widget a:hover {
      color: #01d616;
      text-decoration: none; }
  footer .widget ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  footer .socials ul {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
    align-items: center; }
    footer .socials ul li {
      list-style: none;
      margin: 0px 15px; }
      footer .socials ul li a svg path {
        fill: #2d2d46;
        transition: ease-in-out 0.2s; }
      footer .socials ul li a:hover svg path {
        fill: #01d616; }
  footer .socket {
    margin-top: 68px; }
    footer .socket .inner {
      padding: 18px 44px 18px 0px;
      position: relative; }
      footer .socket .inner:after {
        content: "";
        z-index: -1;
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        width: 100vw;
        background: #e9f7ff;
        border-radius: 0px 6px 0px 0px; }
    footer .socket ul {
      display: flex;
      margin: 0;
      padding: 0;
      margin-left: -12px;
      margin-right: -12px; }
      footer .socket ul li {
        list-style: none; }
        footer .socket ul li a {
          font-family: "gilroy-medium", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 27px;
          color: #2d2d46;
          margin: 0px 12px;
          transition: ease-in-out 0.2s; }
          footer .socket ul li a:hover {
            text-decoration: none;
            color: #01d616; }

/*# sourceMappingURL=style.css.map */
